body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.layout_margin {
  margin-top: 90px;
  margin-bottom: 90px;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading_container h2 {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 45px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

.heading_container .heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.detail_box_common {
  background-color: #a34318;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.text_center {
  text-align: center;
}

/*header section*/
.hero_area {
  position: relative;
}

.sub_page .header_section {
  position: relative;
  background-color: #85310c;
}

.sub_page .header_section .custom_menu-btn span {
  background-color: #fff;
}

.sub_page .header_section .navbar-brand span {
  color: #fff;
}

.header_section {
  padding: 15px 25px;
  position: absolute;
  z-index: 99999;
  width: 100%;
}

.header_section .nav_container {
  margin: 0 auto;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 5%;
}

.navbar-brand span {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 0;
  height: 100%;
}

.custom_nav-container .call_btn {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  padding: 8px 25px;
  border: 1px solid #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: auto;
}

.custom_nav-container .call_btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.custom_menu-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.custom_menu-btn span {
  display: block;
  width: 35px;
  height: 4.5px;
  background-color: #000000;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu_btn-style {
  position: fixed;
  left: 27.5px;
  top: 12.5px;
}

.menu_btn-style button {
  margin-top: 0px;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.menu_btn-style span {
  display: block;
  width: 35px;
  height: 4.5px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
          transform: rotate(-45deg) translateY(-16px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(141, 58, 21, 0.95);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
}

.overlay a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px 0;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  width: 190px;
}

.overlay a:hover, .overlay a.active {
  border-color: transparent;
  background-color: #ffffff;
  color: #000000;
}

.menu_btn-style {
  display: none;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_width {
  width: 100%;
}

.scroll-y-hidden {
  overflow-y: hidden;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*end header section*/
.slider_section {
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.slider_section .slider_text_carousel,
.slider_section .slider_image_carousel {
  width: 100%;
  height: 100%;
}

.slider_section .slider_text_carousel .carousel-inner,
.slider_section .slider_text_carousel .carousel-item,
.slider_section .slider_image_carousel .carousel-inner,
.slider_section .slider_image_carousel .carousel-item {
  height: 100%;
}

.slider_section .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eee;
  padding: 0;
}

.slider_section .detail-box .detail_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 25px;
}

.slider_section .detail-box h1 {
  margin: 25px auto;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.slider_section .detail-box a {
  display: inline-block;
  background-color: #85310c;
  color: #ffffff;
  padding: 10px 45px;
  border: 1px solid #85310c;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #85310c;
}

.slider_section .img-box {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel_btn-box {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 45px;
  z-index: 2;
}

.slider_section .carousel_btn-box .slider_btn_prev,
.slider_section .carousel_btn-box .slider_btn_next {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #ffffff;
  background-color: #85310c;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider_section .carousel_btn-box .slider_btn_prev:hover,
.slider_section .carousel_btn-box .slider_btn_next:hover {
  background-color: #ffffff;
  color: #85310c;
}

.about_section .heading_container h2 {
  text-transform: uppercase;
}

.about_section .detail-box {
  background-color: #a34318;
  padding: 0 20px;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  background-color: #85310c;
  color: #ffffff;
  padding: 10px 40px;
  border: 1px solid #85310c;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #85310c;
}

.about_section .img-box {
  position: relative;
  padding: 0;
}

.about_section .img-box img {
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.portfolio_section {
  text-align: center;
  background-color: #e4e4e4;
}

.portfolio_section .heading_container {
  margin-bottom: 45px;
}

.portfolio_section .heading_container h2::before {
  background-color: #85310c;
}

.portfolio_section p {
  margin-top: 25px;
  margin-bottom: 30px;
}

.portfolio_section .portfolio_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio_section .portfolio_container .img-box {
  margin: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio_section .portfolio_container .img-box img {
  width: 100%;
  height: 100%;
}

.portfolio_section .portfolio_container .img-box .btn-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio_section .portfolio_container .img-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 100%;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #000000;
  font-size: 20px;
}

.portfolio_section .portfolio_container .img-box .btn-box a:hover {
  background-color: rgba(228, 234, 234, 0.9);
}

.portfolio_section .portfolio_container .img-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(152, 64, 25, 0.9);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio_section .portfolio_container .img-box:hover a {
  visibility: visible;
  opacity: 1;
}

.portfolio_section .portfolio_container .img-box:hover::before {
  visibility: visible;
  opacity: 1;
}

.portfolio_section .portfolio_container .box-1,
.portfolio_section .portfolio_container .box-2,
.portfolio_section .portfolio_container .box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.portfolio_section .portfolio_container .box-2-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.portfolio_section .portfolio_container .box-2-btm .box-2-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio_section .portfolio_container .box-2-btm .box-2-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.portfolio_section .read_btn {
  display: inline-block;
  background-color: #85310c;
  color: #ffffff;
  padding: 7px 30px;
  border: 1px solid #85310c;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin-top: 75px;
}

.portfolio_section .read_btn:hover {
  background-color: transparent;
  color: #85310c;
}

.team_section .team_container {
  padding: 25px 45px;
}

.team_section .team_box {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 25px 0;
}

.team_section .team_box .img-box img {
  width: 100%;
}

.team_section .team_box .detail-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(163, 67, 24, 0.9);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.team_section .team_box .detail-box h5 {
  font-weight: 600;
}

.team_section .team_box .detail-box a {
  color: inherit;
  font-size: 24px;
}

.team_section .team_box .detail-box a:hover {
  color: #85310c;
}

.team_section .team_box:hover .detail-box {
  opacity: 1;
  visibility: visible;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 15px;
}

.contact_section .heading_container h2::before {
  left: 0;
  -webkit-transform: none;
          transform: none;
}

.contact_section .map_container {
  height: 450px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.contact_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.contact_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.contact_section .info_contact .contact_link_box a:hover {
  color: #85310c;
}

.contact_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.contact_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.contact_section .info_social a:hover {
  color: #85310c;
}

/* footer section*/
.footer_section {
  background-color: #762500;
  color: #ffffff;
  padding: 0 15px;
}

.footer_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_section p {
  margin: 0;
  padding: 25px 0;
  color: #ffffff;
}

.footer_section p a {
  color: inherit;
}

.footer_section .link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_section .link_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-left: 15px;
}

.footer_section .link_box a:hover {
  color: #85310c;
}
/*# sourceMappingURL=style.css.map */